@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
  overflow-x: hidden;
  overflow-y: hidden;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 2em;
    height: 100vh;
    background: #172C4D;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }



  h1 a {
   margin: 0;
   font-size: 4vmin;
   font-family: 'Poppins', sans-serif;
   font-weight: lighter;
   color: white;
   text-align: center;
   text-decoration: none;
  }

 

 h1 a:hover{
     cursor: pointer;
     color:#D19B71;
 }

 #loader {
    display:none;
    height: 100%;
    width: 100%;
    background-color: #172C4D;
    position: fixed;
    top: 50%;
    left: 50%;
    animation-duration: 7s;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 999;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  
  #loader img {
      height: 70vh;
      width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }




