@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
  overflow-x: hidden;
  overflow-y: hidden;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding-bottom: 2vh;
    height: 100vh;
    background: #172C4D;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

.illustration img{
    height: 70vh;
    width: auto;
}

  h1 a {
   margin: 0;
   font-size: 4vmin;
   font-family: 'Poppins', sans-serif;
   font-weight: lighter;
   color: white;
   text-align: center;
   text-decoration: none;
  }

 



 button{
     
     padding: 20px;
     color: white;
     background-color: #cd956b;
     border-style: none;
     border-radius: 30px;
     margin-top: 0;
 }

 button:hover{
    cursor: pointer;
    opacity: 80%;
}

button a{
    text-decoration: none;
    color:white;
    font-weight: 600;
}


